
		body {
			/*background-color: #F2F2F2;*/
			font-family: Arial, sans-serif;
			color: #333333;
		}
		h1 {
			font-size: 36px;
			font-weight: bold;
			text-align: center;
			margin-top: 50px;
		}
		h2 {
			font-size: 28px;
			font-weight: bold;
			margin-top: 30px;
		}
		ul {
			list-style-type: disc;
			margin-left: 30px;
			margin-top: 20px;
		}
		li {
			margin-top: 10px;
		}
		.project {
			margin-top: 50px;
			padding: 20px;
			background-color: #FFFFFF;
			box-shadow: 0px 0px 10px #CCCCCC;
		}
		.project-title {
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 20px;
			color: #6EA623;
		}
		.project-details {
			font-size: 16px;
			margin-left: 30px;
			margin-top: 10px;
			line-height: 1.5;
		}
	